
.ptswpv {
    position: fixed;
    left: -10000px;
    top: -1000px;
    background: rgb(36, 36, 37);
    opacity: 0;
    transition: opacity 0.3s;
}

.ptswpv.full{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
}